*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
section{
    border: 3px double hotpink;
    border-radius: 10px;
    background-color: azure;
    /* sopra-sotto:30 et destra-sin:20 */
    margin: 30px 20px;
    padding: 10px;
}
/* #personal-info img       := img che é dentro */
#personal-info > img{       /*:= img che é ENFANT diretto */
    height: 100px;
    width: auto;
}
/* dl-dt-dd-dr sono block  e le voglio inline*/
/* #personal-info dl > * := sibla gli ENFANTES DIRETTI di dl */
/* NOTA BENE BENE: dopo vado a modificare e dire che dt ha grandezza fissa
e allora questo diventa solo 
#personal-info dd {
    display: inline;
}*/
#personal-info dd, #personal-info dt{
    display: inline;  /*  appare TUTTO su una linea*/
}
/* aggiungo un block dopo i mio dd */
#personal-info dd::after{
    content: ''; /* con 'after' devo scrivere che cosa ci voglio dentro, in questo caso niente */
    display: block;
}
/* se voglio Nom: ... */
/* #personal-info dd::before{
    content: ' : ';
} */
#personal-info dt::after{
    content: ' : ';
}
#personal-info dt{
    display: inline-block;
    width: 150px;
}

#skills > ul{    /*  -->>>  NON DIMENTICARE ul*/
    list-style: none; /* posso mettere anche img */
    padding: 0;
    width: 300px;
    background-color: white;
}

#skills > ul > li{
    border: 1px solid black;
    padding: 5px 20px;
}
#skills > ul > li:nth-child(2n){
    background-color: rgb(233, 230, 230);
}

#studies > table{
    border-collapse: collapse;  /* per avere il bordo su tutte le zezioni della tab, e non solo intorno */
}
#studies > table th, #studies > table td{
    text-align: center;
    border: 1px solid red;
}
#studies > table th:first-child, #studies > table td:first-child{
    text-align: left;
}
#studies > table th:last-child, #studies > table td:last-child{
    text-align: right;
}

/* in SASS 
#studies{
    > table{
        border-collapse: collapse;
        th {
            
        },
        td{

        }
    }
} */

.button-top-fix{
    position: fixed;
    /* poi bisogna dire fissato dove */
    right: 20px;
    bottom: 20px;
    z-index: 100;
    background-color: rgba(127, 255, 212, 0.267);
    border-radius: 3px;
    padding: 10px;
    color: rgb(38, 0, 255);

}
.button-top-fix:hover{
    background-color: aqua;
    width: 10%;
}

.email{
    position: relative;
    margin:20px;
}
.email > input{
    padding-left: 20px;
}

/* ::after mi va a CREARE un block dopo */
.email::after{
    content: '♥';
    display: inline-block;  /* cosi' il cuore resta fisso nell'input */
    position: absolute;
    left: 5px;
    top:0;
    font-family: 'Font Awesome 5 Freee';
    font-weight: bold;
}
/* ♥ alt 3 */