*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
}
div{
    background-color: rgb(236, 199, 231);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    
}
p{
    background-color: aqua;
    justify-content: space-between;
    border-block: 3px solid red;
    border-radius: 10rem;
    padding: 15px;
    transition: all 0.3 linear;
}

p:hover{
    box-shadow: 3px 10px rgb(230, 131, 38);
    transform: scale(1.05);
}